@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* background-image: linear-gradient(90deg, rgb(54, 181, 183) 0%,rgb(19, 126, 105) 100%); */
  /* background-color: #F0F8FF; */
  /* width: 100vw; */
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  color: black;
  font-size: 16px;
}

h1,
h2,
h3 {
  /* color: white; */
  font-weight: bolder;
  font-family: "Josefin Sans", sans-serif;
  line-height: 1.6;
}

.animatedButton {
  animation-duration: 7s;
}

.ql-container {
  border: none !important;
  position: relative;
  background-color: whitesmoke;
}
.ql-toolbar {
  border: none !important;
  background-color: #f5f5f5;
}
.ql-editor {
  border: none !important;
  color: black;
  background-color: whitesmoke;
}

.ql-editor h1 {
  color: black;
}

.ql-editor img {
  /* max-width: 100%; */
  height: auto;
  cursor: pointer;
}

.ql-container,
.ql-editor {
  overflow: visible !important;
}

.wrapper {
  padding: 0 !important;
}

.quill-content {
  word-break: break-word;
  overflow-wrap: anywhere;
}

.quill-content pre {
  white-space: pre-wrap;
  overflow-x: auto;
}

.quill-content img {
  max-width: 100%;
  height: auto;
}

